#Popform .modal-header .close {
    padding: 1.4rem 1rem;
    color: #fff;
}
#Popform .modal-body {
    padding: 15px 30px;
}
#Popform .form-label {
    font-weight: bold;
}
#Popform .file-row {
    width: 100%;
    padding: 5px 10px;
    margin-left: 0;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
#Popform button[type="file"] {
    border: none;
    border-radius: 2px;
}
#Popform .file-name {
    color: lightslategrey;
}